<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CheckBox</title>
</head>
<body>
    <center>
        <form method="POST" action="{% url 'multiple_webpages' %}">
            {% csrf_token %}
            <h4>Select topics</h4>
            {% for to in top %}
                
                <input type="checkbox" name="tn" id="tn" value="{{to.topicname}}">
                <label for="tn">{{to.topicname}}</label>
                <br>
            {% endfor %}
            <input type="submit">
        </form>
    </center>
</body>
</html>